
# [submodule "blt"]
# 	path = dependencies/blt
# 	url = https://github.com/LLNL/blt.git

[submodule "dependencies/SDL2"]
	path = dependencies/SDL2
	url = https://github.com/libsdl-org/SDL
	branch = SDL2

